/* Layout
------------------------------*/
html,body, #home{
    height: 100%;
    overflow-x: hidden;
}

body{
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/*Barra de Navegação
--------------------------------*/
nav.navbar-transparent{
    background: rgba(0,0,0,0.6);    
}

.navbar-light .nav-item .nav-link{
    color: #fff;
    font-weight: 900;
}

.navbar-light .nav-item .nav-link:hover{
    color: green;
}

.navbar-light .navbar-toggler{
    color: rgba(0,0,0,0.5);
    border-color: white;
}

#header .divisor{
    width: 1px;
    background: green;
    margin: 12px 15px;
}

/*Home
------------------------------*/
#home .capa{
    text-align: center;
}

#home h1{
    font-weight: 900;
    letter-spacing: -0.07em;
    margin-bottom: 50px;
    color: white;
}

#home .btn-custom{
    border-radius: 500px;
    margin: 4px;    
    border: none;
}

#home .btn-custom:hover{
    background-color: #587;
    color: #000;
}

/*Serviços
---------------------------------*/

#servicos{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos .albuns{
    padding: 10px 0;
}

#servicos .albuns .imagens{
    margin-bottom: 20px;
}

#servicos .albuns img{
    box-shadow: 3px 3px 2px #000;
}

#servicos h2{
    font-size: 3em;
}

#servicos h3{
    font-size: 2em;    
}

#servicos h2, h3{
    color: #7c25f8;
    font-weight: 700;
    letter-spacing: -0.04em;
}


/*Recursos
-----------------------------------*/

#recursos{
    padding-top: 20px;
    padding-bottom: 20px;
}

#recursos h2{
    color: #fff;
    font-weight: 900;
}

#recursos h3{
    color: #9bf0e1;
}

#recursos p{
    color: #fff;
}

#recursos .row .rotate{
    padding-left: 80px;
    -ms-transform: rotate(30deg); /*IE 9*/
    -webkit-transform: rotate(30deg); /*Chrome, Safari e Opera*/
    transform: rotate(30deg);
}

/*Footer
---------------------------------------------------------------*/

footer{
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h4{
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 900;
}

footer .navbar-nav a{
    color: #fff;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    color: green;
    text-decoration: none;
}


/*Media queries 
------------------------------------*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    h1{
        font-size: 2em;
    }

    #recursos .row .rotate{
       display: none;
    }
    
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
   
    h1{
        font-size: 3em;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    h1{
        font-size: 4em;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    h1{
        font-size: 5em;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    h1{
        font-size: 6em;
    }
}
